<launch>
  <arg name="color_file" default="$(find lab4)/colors.txt" />
  <arg name="image" default="/camera/rgb/image_raw" />
  <arg name="gui" default="false" />

  <!-- Location of the cmvision color file -->
  <param name="cmvision/color_file" type="string" 
         value="$(arg color_file)" />

  <!-- Turn debug output on or off -->
  <param name="cmvision/debug_on" type="bool" value="$(arg gui)"/>

  <!-- Turn color calibration on or off -->
  <param name="cmvision/color_cal_on" type="bool" value="false"/>

  <!-- Enable Mean shift filtering -->
  <param name="cmvision/mean_shift_on" type="bool" value="false"/>

  <!-- Spatial bandwidth: Bigger = smoother image -->
  <param name="cmvision/spatial_radius_pix" type="double" value="2.0"/>

  <!-- Color bandwidth: Bigger = smoother image-->
  <param name="cmvision/color_radius_pix" type="double" value="40.0"/>


  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
       <arg name="rgb_processing"                  value="true"/>  <!-- only required if we use android client -->
       <arg name="depth_processing"                value="true"/>
       <arg name="depth_registered_processing"     value="false"/>
       <arg name="depth_registration"              value="false"/>
       <arg name="disparity_processing"            value="false"/>
       <arg name="disparity_registered_processing" value="false"/>
       <arg name="scan_processing"                 value="false"/>
  </include>

  <param name="camera/rgb/image_color/compressed/jpeg_quality" value="22"/>

  <node name="cmvision" pkg="cmvision" type="cmvision" args="image:=$(arg image)" 
        output="screen" />

  <!-- <node name="controller" pkg="lab4" type="lab4_example.py" output="screen" /> -->
</launch>
